<div class="container-fluid text-center parent-div">
  <div class="row sidenav">
    <div class="col-md-2 sidenav">
      <app-left-content></app-left-content>
    </div>
    <div class="col-md-8 text-left center-col">
      <div class="container-fluid header-div">
        <app-header></app-header>
      </div>
      <h1>This is my main column</h1>
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 sidenav">
      This is my right column.
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <h1>This is my footer.</h1>
</footer>